/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        !* Dark mode *!*/
/*        --background-color: rgb(28, 29, 31);*/
/*        --paragraph-text-color: rgb(195, 197, 201);*/
/*        --sender-form-label-color: rgb(195, 197, 201);*/
/*        --sender-form-input-background-color: rgb(28, 29, 31);*/
/*        --sender-form-border-color: rgb(62, 64, 69);*/
/*        --sender-form-input-text-color: rgb(195, 197, 201);*/
/*        --sender-form-border-color-focus: rgb(40, 91, 236);*/
/*        --title-color: rgb(214, 123 ,121);*/
/*        --sub-title-color: rgb(214, 123 ,121);*/
/*        --link-color: rgb(77, 123, 200);*/
/*        --footer-background-color: rgb(38, 40, 42);*/
/*        --code-color: rgb(91, 155, 103);*/
/*    }*/
/*}*/
/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        !* Light mode *!*/
/*        --background-color: rgb(195, 197, 201);*/
/*        --paragraph-text-color: rgb(28, 29, 31);*/
/*        --sender-form-label-color: rgb(28, 29, 31);*/
/*        --sender-form-input-background-color: rgb(195, 197, 201);*/
/*        --sender-form-border-color: rgb(62, 64, 69);*/
/*        --sender-form-input-text-color: rgb(195, 197, 201);*/
/*        --sender-form-border-color-focus: rgb(77, 123, 200);*/
/*        --title-color: rgb(214, 123 ,121);*/
/*        --sub-title-color: rgb(214, 123 ,121);*/
/*        --link-color: rgb(40, 91, 236);*/
/*        --footer-background-color: rgb(38, 40, 42);*/
/*        --code-color: rgb(91, 155, 103);*/
/*    }*/
/*}*/

:root {
    /* Light theme */
    --background-color: rgb(195, 197, 201);
    --paragraph-text-color: rgb(28, 29, 31);
    --sender-form-label-color: rgb(28, 29, 31);
    --sender-form-input-background-color: rgb(195, 197, 201);
    --sender-form-border-color: rgb(62, 64, 69);
    --sender-form-input-text-color: rgb(195, 197, 201);
    --sender-form-border-color-focus: rgb(77, 123, 200);
    --title-color: rgb(214, 123 ,121);
    --sub-title-color: rgb(214, 123 ,121);
    --link-color: rgb(40, 91, 236);
    --footer-background-color: rgb(38, 40, 42);
    --code-color: rgb(91, 155, 103);
    --highlight-color: green;
}

body.dark-theme {
    /* Dark theme */
    --background-color: rgb(28, 29, 31);
    --paragraph-text-color: rgb(195, 197, 201);
    --sender-form-label-color: rgb(195, 197, 201);
    --sender-form-input-background-color: rgb(28, 29, 31);
    --sender-form-border-color: rgb(62, 64, 69);
    --sender-form-input-text-color: rgb(195, 197, 201);
    --sender-form-border-color-focus: rgb(40, 91, 236);
    --title-color: rgb(214, 123 ,121);
    --sub-title-color: rgb(214, 123 ,121);
    --link-color: rgb(77, 123, 200);
    --footer-background-color: rgb(38, 40, 42);
    --code-color: rgb(91, 155, 103);
    --highlight-color: yellow;
}

body.high-contrast-theme {
    /* High contrast theme */
    --background-color: black;
    --paragraph-text-color: yellow;
    --sender-form-label-color: yellow;
    --sender-form-input-background-color: black;
    --sender-form-border-color: yellow;
    --sender-form-input-text-color: yellow;
    --sender-form-border-color-focus: cyan;
    --title-color: magenta;
    --sub-title-color: magenta;
    --link-color: cyan;
    --footer-background-color: black;
    --code-color: lime;
    --highlight-color: blue;
}

@font-face {
    font-family: "Roboto";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Slabo";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/Slabo27px-Regular.ttf") format("truetype");
}

@media only screen and (max-width: 360px) {
    .margin-left {
        margin-left: 10px;
    }

    .sender-form-label-align {
        text-align: start;
        margin-left: 10px;
    }

    .margin-right {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 360px) {
    .margin-left {
        margin-left: 25%;
    }

    .sender-form-label-align {
        text-align: end;
        margin-left: 0;
    }

    .margin-right {
        margin-right: 25%;
    }
}

.paragraph {
    line-height: 1.5;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    color: var(--paragraph-text-color);
    font-size: 1.15em;
    font-family: "Slabo", "Times New Roman", sans-serif, Times;
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.par-anchor {
    display: block;
}

.paragraph img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sender-form-container {
    display: grid;
    place-items: center;
}

.sender-form-label {
    width: 100px;
    display: inline-block;
    color: var(--sender-form-label-color);
    font-size: 1.15em;
    font-family: "Slabo", "Times New Roman", sans-serif, Times;

}

.sender-form-input {
    height: 30px;
    width: 200px;
    margin-left: 10px;
    font-family: "Slabo", "Times New Roman", sans-serif, Times;
    background-color: var(--sender-form-input-background-color);
    border: 1px solid var(--sender-form-border-color);
    color: var(--sender-form-input-text-color);
    border-radius: 5px;
}

.sender-form-input:focus {
    background-color: var(--sender-form-input-background-color);
    border: 2px solid var(--sender-form-border-color-focus);
    outline: none;
}

.sender-form-input::placeholder {
    color: var(--paragraph-text-color);
    font-size: 1em;
}

.sender-form-textarea {
    height: 100px;
    width: 200px;
    margin-left: 10px;
    font-family: "Slabo", "Times New Roman", sans-serif, Times;
    background-color: var(--sender-form-input-background-color);
    border: 1px solid var(--sender-form-border-color);
    color: var(--sender-form-input-text-color);
    border-radius: 5px;
}

.sender-form-textarea:focus {
    background-color: var(--sender-form-input-background-color);
    border: 2px solid var(--sender-form-border-color-focus);
    outline: none;
}


.title_1 {
    text-align: center;
    color: var(--title-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-size: 4em;
}

.title_2 {
    text-align: center;
    color: var(--sub-title-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-size: 2em;
}

.background {
    background-color: var(--background-color);
}

.link-header {
    color: var(--link-color);
    padding-left: 10px;
    font-size: 1.15em;
}

.link {
    color: var(--link-color);
    padding-left: 10px;
    font-size: 1.15em;
}

.footer {
    background-color: var(--footer-background-color);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 20px;
}

code {
    color: var(--code-color);
}

.flex-search {
    flex-grow: 2;
}

.search-btn-margin-padding {
    margin: 0;
    padding: 0;
}

.highlight {
    background-color: var(--highlight-color);
}

.search-input {
    outline: none;
}

.search-input-container {
    max-width: 400px;
}

.author_field_item {
    margin-bottom: 0;
    color: var(--paragraph-text-color);
    font-size: 1.15em;
    font-family: "Slabo", "Times New Roman", sans-serif, Times;
}

.author_container {
    margin-bottom: 16px;
}

